
@inject IMostrarMensajes mostrarMensajes
<EditForm Model="organizador" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <a class="btn btn-success" href="javascript: history.go(-1)">Volver</a>
        </div>

        <div class="col-md-5">

        </div>
    </div>
    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Nomrbre:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Nombre"></InputText>
                <ValidationMessage For="@(() => organizador.Nombre)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Apellido:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Apellido"></InputText>
                <ValidationMessage For="@(() => organizador.Apellido)" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Dni:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Dni"></InputText>
                <ValidationMessage For="@(() => organizador.Dni)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Url:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Url"></InputText>
                <ValidationMessage For="@(() => organizador.Url)" />
            </div>
        </div>
    </div>


    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Matricula:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Matricula"></InputText>
                <ValidationMessage For="@(() => organizador.Matricula)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Mail:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Mail"></InputText>
                <ValidationMessage For="@(() => organizador.Mail)" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Celular1:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Celular1"></InputText>
                <ValidationMessage For="@(() => organizador.Celular1)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Celular2:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Celular2"></InputText>
                <ValidationMessage For="@(() => organizador.Celular2)" />
            </div>
        </div>
    </div>


    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Domicilio:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Domicilio"></InputText>
                <ValidationMessage For="@(() => organizador.Domicilio)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Localidad:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Localidad"></InputText>
                <ValidationMessage For="@(() => organizador.Localidad)" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">ComisionPrima:</label>
            <div>
                <InputNumber class="form-control" @bind-Value="organizador.ComisionPrima"></InputNumber>
                <ValidationMessage For="@(() => organizador.ComisionPrima)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Whatsapp:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.Whatsapp"></InputText>
                <ValidationMessage For="@(() => organizador.Whatsapp)" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Deseo Dar Datos:</label>
            <div>
                <InputCheckbox class="form-control" @bind-Value="organizador.BotonDeseoDarDatos"></InputCheckbox>
                <ValidationMessage For="@(() => organizador.BotonDeseoDarDatos)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">Boton Continuar:</label>
            <div>
                <InputCheckbox class="form-control" @bind-Value="organizador.BotonContinuar"></InputCheckbox>
                <ValidationMessage For="@(() => organizador.BotonContinuar)" />
            </div>
        </div>
    </div>


    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Acarreo:</label>
            <div>
                <InputCheckbox class="form-control" @bind-Value="organizador.Acarreo"></InputCheckbox>
                <ValidationMessage For="@(() => organizador.Acarreo)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">GNC_Montos:</label>
            <div>
                <InputNumber class="form-control" @bind-Value="organizador.GncMonto"></InputNumber>
                <ValidationMessage For="@(() => organizador.GncMonto)" />
            </div>
        </div>
    </div>


    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Ajuste:</label>
            <div>
                <InputNumber class="form-control" @bind-Value="organizador.Ajuste" min="0" max="100"></InputNumber>
                <ValidationMessage For="@(() => organizador.Ajuste)" />
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">DescuentoRecargas:</label>
            <div>
                <InputNumber class="form-control" @bind-Value="organizador.DescuentoRecarga" min="-10" max="100"></InputNumber>
                <ValidationMessage For="@(() => organizador.DescuentoRecarga)" />
            </div>
        </div>
    </div>


    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Logo:</label>
            <div>
                <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenTemporal="@imagenURL" />
            </div>
        </div>
        <div class="col-md-5">
            <label style="color:white">Codigo Prudencia:</label>
            <div>
                <InputText class="form-control" @bind-Value="organizador.CodigoInternoPrudencia" maxlength="8"></InputText>
            </div>

        </div>
    </div>



    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">CUIT:</label>
            <div class="row">
                <InputNumber @bind-Value="oPrefijo" class="form-control" style="width:65px;" max="99" @onblur="CuitOnChange"></InputNumber>
                <label style="color:white;vertical-align:central">&nbsp;</label>
                <InputNumber @bind-Value="oNumeroDocumento" class="form-control" style="width:120px;" max="9999999999" @onblur="CuitOnChange"></InputNumber>
                <label style="color:white">&nbsp;</label>
                <InputNumber @bind-Value="oDigitoVerif" class="form-control" style="width:55px;" max="9" @onblur="CuitOnChange"></InputNumber>
            </div>
        </div>

        <div class="col-md-5">
            <label style="color:white">IVA:</label>
            <div>
                <InputSelect @bind-Value="organizador.IVA" class="form-control">
                    <option value="0">Posicion Iva...</option>

                    <option value="1">RESPONSABLE INSCRIPTO</option>
                    <option value="2">MONOTRIBUTO</option>
                </InputSelect>
            </div>
        </div>
    </div>



    <button class="btn btn-success" type="button" @onclick="@(() => SaveOnClick())">Guardar Cambios</button>
</EditForm>

@code {
    [Parameter] public Organizador organizador { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private int? oPrefijo;
    private int? oNumeroDocumento;
    private int? oDigitoVerif;

    private string imagenURL;

    protected override void OnInitialized()
    {


        if (!string.IsNullOrEmpty(organizador.Logo))
        {
            imagenURL = organizador.Logo;
            //organizador.Logo = null;     VER ASOSA
        }
        if (!string.IsNullOrEmpty(organizador.CUIT))
        {
            oPrefijo = int.Parse(organizador.CUIT.Substring(0, 2));
            oNumeroDocumento = int.Parse(organizador.CUIT.Substring(2, 8));
            oDigitoVerif = int.Parse(organizador.CUIT.Substring(10, 1));
        }
    }
    private void ImagenSeleccionada(string imagenBase64)
    {
        organizador.Logo = imagenBase64;
        imagenURL = null;
    }
    private void CuitOnChange()
    {
        organizador.CUIT = oPrefijo.ToString().Trim() + oNumeroDocumento.ToString().Trim() + oDigitoVerif.ToString().Trim();
    }
    private async Task SaveOnClick()
    {



        if (!string.IsNullOrWhiteSpace(organizador.Logo))
        {
            imagenURL = null;
        }


        #region Valido Form
        if (string.IsNullOrEmpty(organizador.Url) || string.IsNullOrEmpty(organizador.Nombre) || string.IsNullOrEmpty(organizador.Apellido) || string.IsNullOrEmpty(organizador.Dni)
            || string.IsNullOrEmpty(organizador.Matricula) || string.IsNullOrEmpty(organizador.Mail) || string.IsNullOrEmpty(organizador.Celular1) || string.IsNullOrEmpty(organizador.Domicilio)
            || string.IsNullOrEmpty(organizador.Localidad) || string.IsNullOrEmpty(organizador.Logo) || string.IsNullOrEmpty(organizador.Whatsapp))
        {

            await mostrarMensajes.MostrarMensajeError("Los Campos => Url, Nombre, Apellido, Dni, Matricula, Mail, Celular1, Domicilio," +
                " Localidad, Logo y Whatsapp son Obligatorios");
            return;
        }

        if (!(UtilidadesString.ValidateCUIT(organizador.CUIT)))
        {
            var mensajeError = "Nro de Documento Invalido";

            await mostrarMensajes.MostrarMensajeError(mensajeError);
            return;
        }
        #endregion

        await OnValidSubmit.InvokeAsync(null);
    }
}
